@{
    Layout = "~/Views/_Layout.cshtml";
}

<div class="bg-lightgrey">
    <div class="container">
        <div class="clearfix">
            <div class="pull-left">
                <img src="~/Content/img/login-left.jpg" width="739" height="452">
            </div>
            <div class="pull-right">
                <div class="bg-white loginBox-w am-padding-xl">
                    <div>
                        没有账号？<a href="register.html">立即注册</a>
                    </div>
                    <form action="doLogin" method="post" id="userForm">
                        <div class="input-group am-padding-top-xl">
                            <span class="input-group-addon" id="">
                                <i class="glyphicon glyphicon-user"></i>
                            </span>
                            <input type="text" class="form-control" name="UserName" placeholder="请输入手机号/邮箱/用户名" aria-describedby="请输入手机号/邮箱/用户名">
                        </div>
                        <div class="input-group am-padding-top-xl">
                            <span class="input-group-addon" id="">
                                <i class="glyphicon glyphicon-lock"></i>
                            </span>
                            <input type="password" class="form-control" name="Password" placeholder="请输入密码" aria-describedby="请输入密码">
                        </div>
                        <div class="row am-padding-top-xl">
                            <div class="col-lg-6">
                                <input type="text" class="form-control" id="" placeholder="请输入验证码">
                            </div>
                            <div class="col-lg-6">
                                <!--验证码-->
                                <div class="clearfix">
                                    <div class="pull-left">
                                        <div class="codeBox-w">
                                            <img src="~/Content/img/2.jpg" width="112" height="32">
                                        </div>
                                    </div>
                                    <div class="pull-left">
                                        <button type="button" class="btn btn-info refreshBtn-w"><i class="glyphicon glyphicon-repeat"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix am-padding-top-lg">
                            <div class="pull-left">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> 记住登录名
                                    </label>
                                </div>
                            </div>
                            <div class="pull-right">
                                <div class="am-padding-vertical-sm">
                                    <a href="password.html">忘记密码</a>
                                </div>
                            </div>
                        </div>
                        <!--登录按钮-->
                        <div class="am-padding-top-xl">
                            <button type="button" class="btn btn-info bg-lightblue btn-lg btn-block" id="doLogin">立即登录</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--end-->
</div>
<script>
    $(function () {
       $("#doLogin").click(function(){
            $("#userForm").submit();
       });

    });
</script>