<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>主页</title>

		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	</head>

	<body>
		<div class="project">
			<!--header-->
			<nav class="navbar navbar-default header-w navbar-static-top">
				<div class="container">
					<ul class="nav navbar-nav">
						<li class="">
							<a href="index.html" class="text-muted">
								<span class="bg-white icon-w-box am-text-middle">
									<i class="icon-w icon-home" aria-hidden="true"></i>
								</span>
								<span class="am-text-middle am-padding-left-xs">HOME</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="bg-white icon-w-box am-text-middle">
									<i class="icon-w icon-cubic" aria-hidden="true"></i>
								</span>
								<span class="am-text-middle am-padding-left-xs">官方微博</span>
							</a>
						</li>
						<li class="">
							<a href="#">
								<span class="bg-white icon-w-box am-text-middle">
									<i class="icon-w icon-man" aria-hidden="true"></i>
								</span>
								<span class="am-text-middle am-padding-left-xs">关于我们</span>
							</a>
						</li>
					</ul>
					<div class="navbar-right">
						<div class="am-padding-vertical-sm text-muted">
							<i class="icon-w icon-clock"></i>
							<span class="am-text-middle am-padding-horizontal-sm">2016-04-28</span>
							<span class="am-text-middle">星期四</span>
						</div>
					</div>
				</div>
			</nav>
			<!--logo/搜索-->
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-lg-3">
						<a href="index.html">
							<img src="img/logo.png" width="210" height="66" />
						</a>
					</div>
					<div class="col-md-6 col-lg-6">
						<div class="input-group am-padding-top-lg">
							<input type="text" class="form-control" placeholder="搜索您想要的内容">
							<span class="input-group-btn">
        						<button class="btn btn-default" type="button">
        							<i class="glyphicon glyphicon-search"></i>
        						</button>
							</span>
						</div>
					</div>
					<div class="col-md-3 col-lg-3">
						<div class="text-right text-nowrap am-padding-top-xl">
							<!--未登录-->
							<a href="#" class="orange">登录</a>
							<!--登陆之后-->
							<span class="relative">
								<a href="#" class="dropdown-toggle orange" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
									我的账户
									<span class="caret"></span>
							</a>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenu">
								<li class="">
									<a href="#">
										<div class="am-padding-vertical-sm">
											参保人
										</div>
									</a>
								</li>
								<li class="">
									<a href="#">
										<div class="am-padding-vertical-sm">
											我的订单
										</div>
									</a>
								</li>
								<li class="">
									<a href="#">
										<div class="am-padding-vertical-sm">
											安全退出
										</div>
									</a>
								</li>
							</ul>
							</span>
							<!--消息-->
							<span class="light-grey am-padding-horizontal-xs">|</span>
							<a href="#" class="orange">消息</a>
						</div>
					</div>
				</div>
			</div>
			<!--导航栏-->
			<nav class="navbar navbar-default navlist-w navbar-static-top am-margin-top-lg am-margin-bottom-0">
				<div class="container">
					<ul class="nav navbar-nav">
						<li class="">
							<a href="index.html" class="">
								<span class="am-text-default">首页</span>
							</a>
						</li>
						<li class="">
							<a href="insurance.html" class="">
								<span class="am-text-default">社保/公积金</span>
							</a>
						</li>
						<li class="">
							<a href="loan.html" class="">
								<span class="am-text-default">无忧借款</span>
							</a>
						</li>
						<li class="active">
							<a href="about.html" class="">
								<span class="am-text-default">关于我们</span>
							</a>
						</li>
					</ul>

				</div>
			</nav>
			<!--轮播图-->
			<div class="fullSlide">
				<div class="bd">
					<ul>
						<li _src="url(img/1.jpg)" style="background:#E2025E center 0 no-repeat;">
							<a href="http://www.baidu.com"></a>
						</li>
						<li _src="url(img/2.jpg)" style="background:#DED5A1 center 0 no-repeat;">
							<a href="http://www.baidu.com"></a>
						</li>
						<li _src="url(img/1.jpg)" style="background:#B8CED1 center 0 no-repeat;">
							<a href="http://www.baidu.com"></a>
						</li>
						<li _src="url(img/2.jpg)" style="background:#98918E center 0 no-repeat;">
							<a href="http://www.baidu.com"></a>
						</li>
					</ul>
				</div>
				<div class="hd">
					<ul></ul>
				</div>
				<span class="prev"></span>
				<span class="next"></span>
			</div>
			<!--fullSlide end-->
			<div class="bg-lightgrey">
				<!--关于我们-->
				<div class="am-padding-xl bg-white">
					<div class="container">
						<div class="text-center am-text-default">
							<div class="">
								关于无忧借款
							</div>
							<div class="relative">
								<hr />
								<span class="hrTitle-w grey">
									About us
								</span>
							</div>
						</div>
						<div class="am-padding-xl grey">
							<p>无忧保使劲游网旗下产品，提供个体社保代缴服务。由中国人社部认证许可，拥有完善的资金监管体系，社保资 金有招商银行进行资金监管，目前已和招商银行、众安保险、爱康国宾等企业达成战略合作关系。无忧保关心每个个 图对安定美好生活的追求，以PC客户端便捷操作，满足个体社保缴纳需要。
							</p>
							<p> 无忧借款，您的社保、借款管家。</p>
						</div>
						<div class="row text-center">
							<div class="col-lg-4">
								<img src="img/aboutUs1.jpg" width="307" height="218" />
							</div>
							<div class="col-lg-4">
								<img src="img/aboutUs2.jpg" width="307" height="218" />
							</div>
							<div class="col-lg-4">
								<img src="img/aboutUs3.jpg" width="307" height="218" />
							</div>
						</div>
					</div>
				</div>
				<!--无忧借款优势-->
				<div class="am-padding-xl bg-white am-margin-vertical-sm">
					<div class="container">
						<div class="text-center am-text-default">
							<div class="">
								无忧借款优势
							</div>
							<div class="relative">
								<hr />
								<span class="hrTitle-w grey">
									Advantage
								</span>
							</div>
						</div>
						<div class="advantgeBox-w am-padding-top-lg">
							<ul class="list-unstyled clearfix">
								<li>
									<div class="itemBox am-text-default">
										<div>分段计算</div>
										<div>自动调基</div>
									</div>
								</li>
								<li>
									<div class="itemBox am-text-default">
										<div>便捷体验</div>
										<div>清晰透明</div>
									</div>
								</li>
								<li>
									<div class="itemBox am-text-default">
										<div>办理进度</div>
										<div>实时反馈</div>
									</div>
								</li>
								<li>
									<div class="itemBox am-text-default">
										<div>账单明细</div>
										<div>自动生成</div>
									</div>
								</li>
								<li>
									<div class="itemBox am-text-default">
										<div>分段计算</div>
										<div>自动调基</div>
									</div>
								</li>

							</ul>
						</div>
					</div>
				</div>
				<!--服务内容-->
				<div class="am-padding-xl bg-white am-margin-bottom-sm">
					<div class="container am-text-default">
						<div class="text-center">
							<div class="">
								服务内容
							</div>
							<div class="relative">
								<hr />
								<span class="hrTitle-w grey">
									Service Content
								</span>
							</div>
						</div>
						<ul class="serviceBox-w grey">
							<li>社保及公积金政策咨询</li>
							<li>代办年度一次社保基数调整手续</li>
							<li>代办养老保险缴纳手续</li>
							<li>代办年度一次公积金基数调整手续</li>
							<li>代办医疗保险缴纳手续</li>
							<li>提供全国主要城市的参保证明</li>
							<li>代办生育保险缴纳手续</li>
							<li>提供公积金提取、按月转账申请盖章材料</li>
							<li>代办住房公积金缴纳手续</li>
							<li>协助个体办理当地政策规定可报销的生育医疗费报销</li>
						</ul>
					</div>
				</div>
				<!---->
			</div>

			<!--footer-->
			<footer class="bg-black am-padding-lg">
				<div class="container am-text-xs">
					<!--友情链接-->
					<div class="row">
						<div class="col-lg-1 white">
							友情链接：
						</div>
						<div class="col-lg-11">
							<div class="row">
								<div class="col-lg-2">
									<a href="#" target="_blank" class="grey">友情链接友情链接友情链接友情链接友情链接</a>
								</div>
								<div class="col-lg-2">
									<a href="#" target="_blank" class="grey">友情链接</a>
								</div>
								<div class="col-lg-2">
									<a href="#" target="_blank" class="grey">友情链接友情链接友情链接友情链接友情链接</a>
								</div>
							</div>
						</div>
					</div>
					<!--分类链接-->
					<div class="am-padding-lg text-center">
						<ul class="list-inline">
							<li>
								<a href="#" target="_blank" class="white">社保大厅</a>
							</li>
							<li>
								<a href="#" target="_blank" class="white">无忧借款</a>
							</li>
							<li>
								<a href="#" target="_blank" class="white">帮助中心</a>
							</li>
							<li>
								<a href="#" target="_blank" class="white">关于我们</a>
							</li>
							<li>
								<a href="#" target="_blank" class="white">登录</a>
							</li>
							<li>
								<a href="#" target="_blank" class="white">注册</a>
							</li>
						</ul>
					</div>
					<!--认证-->
					<div class="text-center">
						<ul class="list-inline">
							<li>
								<a href="#" target="_blank" class="">
									<img src="img/footer1.gif" width="124" height="47" />
								</a>
							</li>
							<li>
								<a href="#" target="_blank" class="">
									<img src="img/footer2.gif" width="124" height="47" />
								</a>
							</li>
							<li>
								<a href="#" target="_blank" class="">
									<img src="img/footer3.gif" width="124" height="47" />
								</a>
							</li>
						</ul>
					</div>
					<!--copyright-->
					<div class="text-center grey">
						<div>
							Copyright © 2014 - 2015青岛XXXX有限公司 版权归XXXX所有
						</div>
						<div>
							地址：青岛市崂山区XXXXX
						</div>
						<div>
							<a href="#" class="text-muted">人力资源服务许可证 330108000023</a>
						</div>
						<div>
							<a href="#" class="text-muted">
						 		鲁ICP备15028495号-2 增值电信业务经营许可证：浙B2-20150177
						 	</a>
						</div>
					</div>
				</div>
			</footer>
		</div>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="js/jquery-1.12.3.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="js/bootstrap.min.js"></script>
		<script src="js/superslide.2.1.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(window).load(function() {
				$(".fullSlide").hover(function() {
						$(this).find(".prev,.next").stop(true, true).fadeTo("show", 0.5)
					},
					function() {
						$(this).find(".prev,.next").fadeOut()
					});
				$(".fullSlide").slide({
					titCell: ".hd ul",
					mainCell: ".bd ul",
					effect: "fold",
					autoPlay: true,
					autoPage: true,
					trigger: "click",
					startFun: function(i) {
						var curLi = jQuery(".fullSlide .bd li").eq(i);
						if (!!curLi.attr("_src")) {
							curLi.css("background-image", curLi.attr("_src")).removeAttr("_src")
						}
					}
				});
			});
		</script>
	</body>

</html>