<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>主页</title>

		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	</head>

	<body>
		<div class="project">
			<!--header-->
			<nav class="navbar navbar-default header-w navbar-static-top">
				<div class="container">
					<ul class="nav navbar-nav">
						<li class="">
							<a href="index.html" class="text-muted">
								<span class="bg-white icon-w-box am-text-middle">
									<i class="icon-w icon-home" aria-hidden="true"></i>
								</span>
								<span class="am-text-middle am-padding-left-xs">HOME</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="bg-white icon-w-box am-text-middle">
									<i class="icon-w icon-cubic" aria-hidden="true"></i>
								</span>
								<span class="am-text-middle am-padding-left-xs">官方微博</span>
							</a>
						</li>
						<li class="">
							<a href="#">
								<span class="bg-white icon-w-box am-text-middle">
									<i class="icon-w icon-man" aria-hidden="true"></i>
								</span>
								<span class="am-text-middle am-padding-left-xs">关于我们</span>
							</a>
						</li>
					</ul>
					<div class="navbar-right">
						<div class="am-padding-vertical-sm text-muted">
							<i class="icon-w icon-clock"></i>
							<span class="am-text-middle am-padding-horizontal-sm">2016-04-28</span>
							<span class="am-text-middle">星期四</span>
						</div>
					</div>
				</div>
			</nav>
			<!--logo/搜索-->
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-lg-3">
						<a href="index.html">
							<img src="img/logo.png" width="210" height="66" />
						</a>
					</div>
					<div class="col-md-6 col-lg-6">
						<div class="input-group am-padding-top-lg">
							<input type="text" class="form-control" placeholder="搜索您想要的内容">
							<span class="input-group-btn">
        						<button class="btn btn-default" type="button">
        							<i class="glyphicon glyphicon-search"></i>
        						</button>
							</span>
						</div>
					</div>
					<div class="col-md-3 col-lg-3">
						<div class="text-right text-nowrap am-padding-top-xl">
							<!--未登录-->
							<a href="#" class="orange">登录</a>
							<!--登陆之后-->
							<span class="relative">
								<a href="#" class="dropdown-toggle orange" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
									我的账户
									<span class="caret"></span>
							</a>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenu">
								<li class="">
									<a href="#">
										<div class="am-padding-vertical-sm">
											参保人
										</div>
									</a>
								</li>
								<li class="">
									<a href="#">
										<div class="am-padding-vertical-sm">
											我的订单
										</div>
									</a>
								</li>
								<li class="">
									<a href="#">
										<div class="am-padding-vertical-sm">
											安全退出
										</div>
									</a>
								</li>
							</ul>
							</span>
							<!--消息-->
							<span class="light-grey am-padding-horizontal-xs">|</span>
							<a href="#" class="orange">消息</a>
						</div>
					</div>
				</div>
			</div>
			<!--导航栏-->
			<nav class="navbar navbar-default navlist-w navbar-static-top am-margin-top-lg am-margin-bottom-0">
				<div class="container">
					<ul class="nav navbar-nav">
						<li class="">
							<a href="index.html" class="">
								<span class="am-text-default">首页</span>
							</a>
						</li>
						<li class="active">
							<a href="insurance.html" class="">
								<span class="am-text-default">社保/公积金</span>
							</a>
						</li>
						<li class="">
							<a href="loan.html" class="">
								<span class="am-text-default">无忧借款</span>
							</a>
						</li>
						<li class="">
							<a href="about.html" class="">
								<span class="am-text-default">关于我们</span>
							</a>
						</li>
					</ul>

				</div>
			</nav>
			<!--轮播图-->
			<div class="fullSlide">
				<div class="bd">
					<ul>
						<li _src="url(img/1.jpg)" style="background:#E2025E center 0 no-repeat;">
							<a href="http://www.baidu.com"></a>
						</li>
						<li _src="url(img/2.jpg)" style="background:#DED5A1 center 0 no-repeat;">
							<a href="http://www.baidu.com"></a>
						</li>
						<li _src="url(img/1.jpg)" style="background:#B8CED1 center 0 no-repeat;">
							<a href="http://www.baidu.com"></a>
						</li>
						<li _src="url(img/2.jpg)" style="background:#98918E center 0 no-repeat;">
							<a href="http://www.baidu.com"></a>
						</li>
					</ul>
				</div>
				<div class="hd">
					<ul></ul>
				</div>
				<span class="prev"></span>
				<span class="next"></span>
			</div>
			<!--fullSlide end-->
			<!--社保大厅-->
			<div class="am-padding-vertical-xl">
				<div class="container">
					<div class="pull-left">
						<div class="am-text-default">
							<strong class="text-primary">||</strong> 社保/公积金服务范围
						</div>
						<div class="am-text-xl green am-padding-top-xl">
							<span class="">
								在线社保大厅
							</span>
							<span class="am-padding-left-lg">
								全国社保自由缴
							</span>
						</div>
						<div class="am-padding-vertical-lg am-text-default grey">
							互联网定制化社保服务，为中小微企业而生
						</div>
						<ul class="list-unstyled grey">
							<li class="am-padding-xs">全国400+城市网点覆盖,随时随地在线社保;</li>
							<li class="am-padding-xs">资料云端递交,服务准确率高达99.99%</li>
							<li class="am-padding-xs">标准化社保动作,繁琐事务一键搞定;</li>
							<li class="am-padding-xs">打破行业底价,服务价格低至9.9元/月</li>
							<li class="am-padding-xs">数据全程加密,信息安全有保障.</li>
						</ul>
						<div class="am-padding-top-lg">
							<a class="btn btn-default am-padding-horizontal-xl" href="user-insurance-add1.html" role="button">交社保/公积金</a>
						</div>
					</div>
					<div class="pull-right">
						<img src="img/home-cup.jpg" width="524" height="402" />
					</div>
				</div>
			</div>
			<!--服务类型-->
			<div class="bg-grey am-padding-xl">
				<div class="container">
					<div class="fitCate-w bg-white">
						<div class="title am-text-default am-padding-horizontal-sm am-padding-vertical-lg">
							适合的服务类型
						</div>
						<ul class="cate-list am-margin-0 am-padding-0 clearfix">
							<li>
								<img src="img/cate1.jpg" width="207" height="191" />
								<div class="am-padding-lg">
									<div class="am-text-default text-center black">
										拟上市公司
									</div>
									<div class="grey">
										希望得到社保专家顾问式服务
									</div>
								</div>
							</li>
							<li>
								<img src="img/cate2.jpg" width="207" height="191" />
								<div class="am-padding-lg">
									<div class="am-text-default text-center black">
										发展型公司
									</div>
									<div class="grey">
										希望能借助互联网平台快速提升管理效能
									</div>
								</div>
							</li>
							<li>
								<img src="img/cate3.jpg" width="207" height="191" />
								<div class="am-padding-lg">
									<div class="am-text-default text-center black">
										异地分公司
									</div>
									<div class="grey">
										希望借助互联网平台让社保管理更高效
									</div>
								</div>
							</li>
							<li>
								<img src="img/cate4.jpg" width="207" height="191" />
								<div class="am-padding-lg">
									<div class="am-text-default text-center black">
										初创型公司
									</div>
									<div class="grey">
										追求性价比，希望最大化节约人事成本
									</div>
								</div>
							</li>
							<li>
								<img src="img/cate5.jpg" width="207" height="191" />
								<div class="am-padding-lg">
									<div class="am-text-default text-center black">
										个体工商户
									</div>
									<div class="grey">
										追求低价，但更看重时间成本
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!--在线社保/传统社保-->
			<div class="bg-lightyellow am-padding-xl">
				<div class="container">
					<div class="am-text-default">
						<strong class="text-primary">||</strong> 在线社保和传统社保优势对比
					</div>
					<div class="text-center">
						<img src="img/difference.jpg" width="1084" height="634" />
					</div>
				</div>
			</div>
			<!--价格-->
			<div class="am-padding-xl">
				<div class="container am-text-default">
					<div class="">
						<strong class="text-primary">||</strong> 服务&价格
					</div>
					<div class="row text-center">
						<div class="col-md-4 col-lg-4">
							<div class="priceBox">
								<div class="priceIcon white am-text-xl">
									<i class="glyphicon glyphicon-fullscreen"></i>
								</div>
								<div>社保服务费</div>
								<div class="text-primary am-padding-top-xs">
									￥29.9/人 ● 月
								</div>
								<div class="am-padding-top-xl">
									会员费
								</div>
								<div class="am-padding-top-sm">
									<a href="#" class="text-primary">
										注册免会员费
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-lg-4">
							<div class="priceBox">
								<div class="priceIcon white am-text-xl">
									<i class="glyphicon glyphicon-fullscreen"></i>
								</div>
								<div>社保服务费</div>
								<div class="text-primary am-padding-top-xs">
									￥29.9/人 ● 月
								</div>
								<div class="am-padding-top-xl">
									会员费
								</div>
								<div class="am-padding-top-sm">
									<a href="#" class="text-primary">
										注册免会员费
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-lg-4">
							<div class="priceBox">
								<div class="priceIcon white am-text-xl">
									<i class="glyphicon glyphicon-fullscreen"></i>
								</div>
								<div>社保服务费</div>
								<div class="text-primary am-padding-top-xs">
									￥29.9/人 ● 月
								</div>
								<div class="am-padding-top-xl">
									会员费
								</div>
								<div class="am-padding-top-sm">
									<a href="#" class="text-primary">
										注册免会员费
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--footer-->
			<footer class="bg-black am-padding-lg">
				<div class="container am-text-xs">
					<!--友情链接-->
					<div class="row">
						<div class="col-lg-1 white">
							友情链接：
						</div>
						<div class="col-lg-11">
							<div class="row">
								<div class="col-lg-2">
									<a href="#" target="_blank" class="grey">友情链接友情链接友情链接友情链接友情链接</a>
								</div>
								<div class="col-lg-2">
									<a href="#" target="_blank" class="grey">友情链接</a>
								</div>
								<div class="col-lg-2">
									<a href="#" target="_blank" class="grey">友情链接友情链接友情链接友情链接友情链接</a>
								</div>
							</div>
						</div>
					</div>
					<!--分类链接-->
					<div class="am-padding-lg text-center">
						<ul class="list-inline">
							<li>
								<a href="#" target="_blank" class="white">社保大厅</a>
							</li>
							<li>
								<a href="#" target="_blank" class="white">无忧借款</a>
							</li>
							<li>
								<a href="#" target="_blank" class="white">帮助中心</a>
							</li>
							<li>
								<a href="#" target="_blank" class="white">关于我们</a>
							</li>
							<li>
								<a href="#" target="_blank" class="white">登录</a>
							</li>
							<li>
								<a href="#" target="_blank" class="white">注册</a>
							</li>
						</ul>
					</div>
					<!--认证-->
					<div class="text-center">
						<ul class="list-inline">
							<li>
								<a href="#" target="_blank" class="">
									<img src="img/footer1.gif" width="124" height="47" />
								</a>
							</li>
							<li>
								<a href="#" target="_blank" class="">
									<img src="img/footer2.gif" width="124" height="47" />
								</a>
							</li>
							<li>
								<a href="#" target="_blank" class="">
									<img src="img/footer3.gif" width="124" height="47" />
								</a>
							</li>
						</ul>
					</div>
					<!--copyright-->
					<div class="text-center grey">
						<div>
							Copyright © 2014 - 2015青岛XXXX有限公司 版权归XXXX所有
						</div>
						<div>
							地址：青岛市崂山区XXXXX
						</div>
						<div>
							<a href="#" class="text-muted">人力资源服务许可证 330108000023</a>
						</div>
						<div>
							<a href="#" class="text-muted">
						 		鲁ICP备15028495号-2 增值电信业务经营许可证：浙B2-20150177
						 	</a>
						</div>
					</div>
				</div>
			</footer>
		</div>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="js/jquery-1.12.3.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="js/bootstrap.min.js"></script>
		<script src="js/superslide.2.1.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(window).load(function() {
				$(".fullSlide").hover(function() {
						$(this).find(".prev,.next").stop(true, true).fadeTo("show", 0.5)
					},
					function() {
						$(this).find(".prev,.next").fadeOut()
					});
				$(".fullSlide").slide({
					titCell: ".hd ul",
					mainCell: ".bd ul",
					effect: "fold",
					autoPlay: true,
					autoPage: true,
					trigger: "click",
					startFun: function(i) {
						var curLi = jQuery(".fullSlide .bd li").eq(i);
						if (!!curLi.attr("_src")) {
							curLi.css("background-image", curLi.attr("_src")).removeAttr("_src")
						}
					}
				});
			});
		</script>

	</body>

</html>