<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>主页</title>

		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	</head>

	<body>
		<div class="project">
			<!--header-->
			<nav class="navbar navbar-default header-w navbar-static-top">
				<div class="container">
					<ul class="nav navbar-nav">
						<li class="">
							<a href="index.html" class="text-muted">
								<span class="bg-white icon-w-box am-text-middle">
									<i class="icon-w icon-home" aria-hidden="true"></i>
								</span>
								<span class="am-text-middle am-padding-left-xs">HOME</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="bg-white icon-w-box am-text-middle">
									<i class="icon-w icon-cubic" aria-hidden="true"></i>
								</span>
								<span class="am-text-middle am-padding-left-xs">官方微博</span>
							</a>
						</li>
						<li class="">
							<a href="#">
								<span class="bg-white icon-w-box am-text-middle">
									<i class="icon-w icon-man" aria-hidden="true"></i>
								</span>
								<span class="am-text-middle am-padding-left-xs">关于我们</span>
							</a>
						</li>
					</ul>
					<div class="navbar-right">
						<div class="am-padding-vertical-sm text-muted">
							<i class="icon-w icon-clock"></i>
							<span class="am-text-middle am-padding-horizontal-sm">2016-04-28</span>
							<span class="am-text-middle">星期四</span>
						</div>
					</div>
				</div>
			</nav>
			<!--logo/搜索-->
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-lg-3">
						<a href="index.html">
							<img src="img/logo.png" width="210" height="66" />
						</a>
					</div>
				</div>
			</div>
			<!--fullSlide end-->
			<div class="bg-lightgrey">
				<div class="container bg-white">
					<div class="relative text-center">
						<hr />
						<span class="hrTitle-w left grey">
							我要借款
						</span>
					</div>
					<!--表单计算-->
					<div class="am-padding-xl">
						<form class="form-horizontal">
							<div class="row am-margin-vertical-lg">
								<div class="col-lg-2 col-md-2 col-sm-2 text-right">
									<strong>可借额度</strong>
								</div>
								<div class="col-lg-9 col-md-9 col-sm-9">
									50000
								</div>
							</div>
							<div class="row am-margin-vertical-lg">
								<div class="col-lg-2 col-md-2 col-sm-2 text-right">
									<strong>已借额度</strong>
								</div>
								<div class="col-lg-9 col-md-9 col-sm-9">
									0
								</div>
							</div>
							<div class="form-group">
								<label for="" class="col-lg-2 col-md-2 col-sm-2 control-label">本次借款</label>
								<div class="col-lg-3 col-md-5 col-sm-5">
									<input class="form-control" type="text" id="" placeholder="请输入本次借款金额">
								</div>
							</div>
							<div class="form-group">
								<label for="inputEmail3" class="col-lg-2 col-md-2 col-sm-2 control-label">还款方式</label>
								<div class="col-lg-3 col-md-5 col-sm-5">
									<select class="form-control">
										<option>请选择还款方式</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
									</select>
								</div>
								<div class="col-lg-3 col-md-5 col-sm-5">
									<select class="form-control">
										<option>等额本息</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
									</select>
								</div>
							</div>
							<div class="row am-margin-vertical-lg orange">
								<div class="col-lg-offset-1 col-lg-10">
									<div class="am-padding-left-xs">
										注：第一次借款需要客户签字确认
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-lg-offset-4 col-lg-4 text-center">
									<button type="reset" class="btn btn-info bg-lightblue btn-lg btn-block">确定借款</button>
								</div>
							</div>
						</form>
					</div>
				</div>

			</div>

			<!--footer-->
			<footer class="bg-black am-padding-lg">
				<div class="container am-text-xs">
					<!--友情链接-->
					<div class="row">
						<div class="col-lg-1 white">
							友情链接：
						</div>
						<div class="col-lg-11">
							<div class="row">
								<div class="col-lg-2">
									<a href="#" target="_blank" class="grey">友情链接友情链接友情链接友情链接友情链接</a>
								</div>
								<div class="col-lg-2">
									<a href="#" target="_blank" class="grey">友情链接</a>
								</div>
								<div class="col-lg-2">
									<a href="#" target="_blank" class="grey">友情链接友情链接友情链接友情链接友情链接</a>
								</div>
							</div>
						</div>
					</div>
					<!--分类链接-->
					<div class="am-padding-lg text-center">
						<ul class="list-inline">
							<li>
								<a href="#" target="_blank" class="white">社保大厅</a>
							</li>
							<li>
								<a href="#" target="_blank" class="white">无忧借款</a>
							</li>
							<li>
								<a href="#" target="_blank" class="white">帮助中心</a>
							</li>
							<li>
								<a href="#" target="_blank" class="white">关于我们</a>
							</li>
							<li>
								<a href="#" target="_blank" class="white">登录</a>
							</li>
							<li>
								<a href="#" target="_blank" class="white">注册</a>
							</li>
						</ul>
					</div>
					<!--认证-->
					<div class="text-center">
						<ul class="list-inline">
							<li>
								<a href="#" target="_blank" class="">
									<img src="img/footer1.gif" width="124" height="47" />
								</a>
							</li>
							<li>
								<a href="#" target="_blank" class="">
									<img src="img/footer2.gif" width="124" height="47" />
								</a>
							</li>
							<li>
								<a href="#" target="_blank" class="">
									<img src="img/footer3.gif" width="124" height="47" />
								</a>
							</li>
						</ul>
					</div>
					<!--copyright-->
					<div class="text-center grey">
						<div>
							Copyright © 2014 - 2015青岛XXXX有限公司 版权归XXXX所有
						</div>
						<div>
							地址：青岛市崂山区XXXXX
						</div>
						<div>
							<a href="#" class="text-muted">人力资源服务许可证 330108000023</a>
						</div>
						<div>
							<a href="#" class="text-muted">
						 		鲁ICP备15028495号-2 增值电信业务经营许可证：浙B2-20150177
						 	</a>
						</div>
					</div>
				</div>
			</footer>
		</div>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="js/jquery-1.12.3.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="js/bootstrap.min.js"></script>
	</body>

</html>