<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>主页</title>

		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	</head>

	<body>
		<div class="project">
			<!--header-->
			<nav class="navbar navbar-default header-w navbar-static-top">
				<div class="container">
					<ul class="nav navbar-nav">
						<li class="">
							<a href="index.html" class="text-muted">
								<span class="bg-white icon-w-box am-text-middle">
									<i class="icon-w icon-home" aria-hidden="true"></i>
								</span>
								<span class="am-text-middle am-padding-left-xs">HOME</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="bg-white icon-w-box am-text-middle">
									<i class="icon-w icon-cubic" aria-hidden="true"></i>
								</span>
								<span class="am-text-middle am-padding-left-xs">官方微博</span>
							</a>
						</li>
						<li class="">
							<a href="#">
								<span class="bg-white icon-w-box am-text-middle">
									<i class="icon-w icon-man" aria-hidden="true"></i>
								</span>
								<span class="am-text-middle am-padding-left-xs">关于我们</span>
							</a>
						</li>
					</ul>
					<div class="navbar-right">
						<div class="am-padding-vertical-sm text-muted">
							<i class="icon-w icon-clock"></i>
							<span class="am-text-middle am-padding-horizontal-sm">2016-04-28</span>
							<span class="am-text-middle">星期四</span>
						</div>
					</div>
				</div>
			</nav>
			<!--logo/搜索-->
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-lg-3">
						<a href="index.html">
							<img src="img/logo.png" width="210" height="66" />
						</a>
					</div>
					<div class="col-md-6 col-lg-6">
						<div class="input-group am-padding-top-lg">
							<input type="text" class="form-control" placeholder="搜索您想要的内容">
							<span class="input-group-btn">
        						<button class="btn btn-default" type="button">
        							<i class="glyphicon glyphicon-search"></i>
        						</button>
							</span>
						</div>
					</div>
					<div class="col-md-3 col-lg-3">
						<div class="text-right text-nowrap am-padding-top-xl">
							<!--未登录-->
							<a href="#" class="orange">登录</a>
							<!--登陆之后-->
							<span class="relative">
								<a href="#" class="dropdown-toggle orange" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
									我的账户
									<span class="caret"></span>
							</a>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenu">
								<li class="">
									<a href="#">
										<div class="am-padding-vertical-sm">
											参保人
										</div>
									</a>
								</li>
								<li class="">
									<a href="#">
										<div class="am-padding-vertical-sm">
											我的订单
										</div>
									</a>
								</li>
								<li class="">
									<a href="#">
										<div class="am-padding-vertical-sm">
											安全退出
										</div>
									</a>
								</li>
							</ul>
							</span>
							<!--消息-->
							<span class="light-grey am-padding-horizontal-xs">|</span>
							<a href="#" class="orange">消息</a>
						</div>
					</div>
				</div>
			</div>
			<!--导航栏-->
			<nav class="navbar navbar-default navlist-w navbar-static-top am-margin-top-lg am-margin-bottom-0">
				<div class="container">
					<ul class="nav navbar-nav">
						<li class="">
							<a href="index.html" class="">
								<span class="am-text-default">首页</span>
							</a>
						</li>
						<li class="">
							<a href="insurance.html" class="">
								<span class="am-text-default">社保/公积金</span>
							</a>
						</li>
						<li class="active">
							<a href="loan.html" class="">
								<span class="am-text-default">无忧借款</span>
							</a>
						</li>
						<li class="">
							<a href="about.html" class="">
								<span class="am-text-default">关于我们</span>
							</a>
						</li>
					</ul>

				</div>
			</nav>
			<!--轮播图-->
			<div class="fullSlide">
				<div class="bd">
					<ul>
						<li _src="url(img/1.jpg)" style="background:#E2025E center 0 no-repeat;">
							<a href="http://www.baidu.com"></a>
						</li>
						<li _src="url(img/2.jpg)" style="background:#DED5A1 center 0 no-repeat;">
							<a href="http://www.baidu.com"></a>
						</li>
						<li _src="url(img/1.jpg)" style="background:#B8CED1 center 0 no-repeat;">
							<a href="http://www.baidu.com"></a>
						</li>
						<li _src="url(img/2.jpg)" style="background:#98918E center 0 no-repeat;">
							<a href="http://www.baidu.com"></a>
						</li>
					</ul>
				</div>
				<div class="hd">
					<ul></ul>
				</div>
				<span class="prev"></span>
				<span class="next"></span>
			</div>
			<!--fullSlide end-->
			<div class="bg-lightgrey">
				<!--价格-->
				<div class="am-padding-xl bg-white">
					<div class="container am-text-default">
						<div class="">
							<strong class="text-primary">||</strong> 适合的借款对象
						</div>
						<div class="text-center am-padding-top-xl">
							<img src="img/loan-obj.jpg" width="1130" height="510" />
						</div>
						<div class="text-right am-padding-top-xl">
							<a href="loan-apply.html" class="toLoanBtn">我要贷款 >></a>
						</div>
					</div>
				</div>
				<!--申请条件-->
				<div class="am-padding-xl bg-white am-margin-vertical-sm">
					<div class="container">
						<div class="am-text-default">
							<strong class="text-primary">||</strong> 申请条件
						</div>
						<div class="row">
							<div class="col-lg-6 col-md-6">
								<div class="conditionBox relative">
									<span class="label label-primary bg-lightblue am-text-lg">申请条件</span>
									<ul class="list grey">
										<li>年龄:21-55岁</li>
										<li>现居住地满6个月以上</li>
										<li>
											<div>工作要求:</div>
											<ul class="list-unstyled am-padding-left-lg">
												<li>（1）企业职员：现职工作6个月以上</li>
												<li>（2）私营企业主：营业执照注册12月以上</li>
											</ul>
										</li>
									</ul>
									<i class="icon-w icon-lg-person"></i>
								</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="requestBox relative">
									<span class="label label-primary bg-lightblue am-text-lg">所需材料</span>
									<ul class="list grey">
										<li>二代身份证</li>
										<li>工商/农业/建设/招商/平安银行储蓄卡任一均可</li>
										<li>居住证明：电费单/水费单/电信账单任一均可</li>
										<li>如有寿险,请提供保单原件或保单截屏</li>
										<li>如有房贷,请提供房产证/产调证明/住房购买合同任一均可</li>
									</ul>
									<i class="icon-w icon-lg-present"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--借款流程-->
				<div class="am-padding-xl bg-white am-margin-bottom-sm">
					<div class="container">
						<div class="am-text-default">
							<strong class="text-primary">||</strong> 借款流程
						</div>
						<div class="text-center am-padding-top-xl">
							<img src="img/loan-flow.jpg" width="1046" height="249" />
						</div>
					</div>
				</div>
				<!--产品优势-->
				<div class="am-padding-xl bg-white am-margin-bottom-sm">
					<div class="container">
						<div class="am-text-default">
							<strong class="text-primary">||</strong> 产品优势
						</div>
						<div class="text-center am-padding-top-xl">
							<img src="img/product-advantage.jpg" width="1156" height="172" />
						</div>
					</div>
				</div>
				<!---->
			</div>

			<!--footer-->
			<footer class="bg-black am-padding-lg">
				<div class="container am-text-xs">
					<!--友情链接-->
					<div class="row">
						<div class="col-lg-1 white">
							友情链接：
						</div>
						<div class="col-lg-11">
							<div class="row">
								<div class="col-lg-2">
									<a href="#" target="_blank" class="grey">友情链接友情链接友情链接友情链接友情链接</a>
								</div>
								<div class="col-lg-2">
									<a href="#" target="_blank" class="grey">友情链接</a>
								</div>
								<div class="col-lg-2">
									<a href="#" target="_blank" class="grey">友情链接友情链接友情链接友情链接友情链接</a>
								</div>
							</div>
						</div>
					</div>
					<!--分类链接-->
					<div class="am-padding-lg text-center">
						<ul class="list-inline">
							<li>
								<a href="#" target="_blank" class="white">社保大厅</a>
							</li>
							<li>
								<a href="#" target="_blank" class="white">无忧借款</a>
							</li>
							<li>
								<a href="#" target="_blank" class="white">帮助中心</a>
							</li>
							<li>
								<a href="#" target="_blank" class="white">关于我们</a>
							</li>
							<li>
								<a href="#" target="_blank" class="white">登录</a>
							</li>
							<li>
								<a href="#" target="_blank" class="white">注册</a>
							</li>
						</ul>
					</div>
					<!--认证-->
					<div class="text-center">
						<ul class="list-inline">
							<li>
								<a href="#" target="_blank" class="">
									<img src="img/footer1.gif" width="124" height="47" />
								</a>
							</li>
							<li>
								<a href="#" target="_blank" class="">
									<img src="img/footer2.gif" width="124" height="47" />
								</a>
							</li>
							<li>
								<a href="#" target="_blank" class="">
									<img src="img/footer3.gif" width="124" height="47" />
								</a>
							</li>
						</ul>
					</div>
					<!--copyright-->
					<div class="text-center grey">
						<div>
							Copyright © 2014 - 2015青岛XXXX有限公司 版权归XXXX所有
						</div>
						<div>
							地址：青岛市崂山区XXXXX
						</div>
						<div>
							<a href="#" class="text-muted">人力资源服务许可证 330108000023</a>
						</div>
						<div>
							<a href="#" class="text-muted">
						 		鲁ICP备15028495号-2 增值电信业务经营许可证：浙B2-20150177
						 	</a>
						</div>
					</div>
				</div>
			</footer>
		</div>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="js/jquery-1.12.3.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="js/bootstrap.min.js"></script>
		<script src="js/superslide.2.1.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(window).load(function() {
				$(".fullSlide").hover(function() {
						$(this).find(".prev,.next").stop(true, true).fadeTo("show", 0.5)
					},
					function() {
						$(this).find(".prev,.next").fadeOut()
					});
				$(".fullSlide").slide({
					titCell: ".hd ul",
					mainCell: ".bd ul",
					effect: "fold",
					autoPlay: true,
					autoPage: true,
					trigger: "click",
					startFun: function(i) {
						var curLi = jQuery(".fullSlide .bd li").eq(i);
						if (!!curLi.attr("_src")) {
							curLi.css("background-image", curLi.attr("_src")).removeAttr("_src")
						}
					}
				});
			});
		</script>
	</body>

</html>