<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>主页</title>

		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	</head>

	<body>
		<div class="project">
			<!--header-->
			<nav class="navbar navbar-default header-w navbar-static-top">
				<div class="container">
					<ul class="nav navbar-nav">
						<li class="">
							<a href="index.html" class="text-muted">
								<span class="bg-white icon-w-box am-text-middle">
									<i class="icon-w icon-home" aria-hidden="true"></i>
								</span>
								<span class="am-text-middle am-padding-left-xs">HOME</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="bg-white icon-w-box am-text-middle">
									<i class="icon-w icon-cubic" aria-hidden="true"></i>
								</span>
								<span class="am-text-middle am-padding-left-xs">官方微博</span>
							</a>
						</li>
						<li class="">
							<a href="#">
								<span class="bg-white icon-w-box am-text-middle">
									<i class="icon-w icon-man" aria-hidden="true"></i>
								</span>
								<span class="am-text-middle am-padding-left-xs">关于我们</span>
							</a>
						</li>
					</ul>
					<div class="navbar-right">
						<div class="am-padding-vertical-sm text-muted">
							<i class="icon-w icon-clock"></i>
							<span class="am-text-middle am-padding-horizontal-sm">2016-04-28</span>
							<span class="am-text-middle">星期四</span>
						</div>
					</div>
				</div>
			</nav>
			<!--logo/搜索-->
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-lg-3">
						<a href="index.html">
							<img src="img/logo.png" width="210" height="66" />
						</a>
					</div>
				</div>
			</div>

			<div class="bg-lightgrey">
				<div class="container">
					<div class="clearfix">
						<div class="pull-left">
							<img src="img/login-left.jpg" width="739" height="452" />
						</div>
						<div class="pull-right">
							<div class="bg-white loginBox-w am-padding-lg">
								<form action="" class="form-horizontal" method="post">
									<div class="form-group">
										<label for="" class="col-lg-3 control-label">用户名</label>
										<div class="col-lg-9">
											<input type="text" class="form-control" id="" placeholder="请输入用户名">
										</div>
									</div>
									<div class="form-group">
										<label for="" class="col-lg-3 control-label">手机号</label>
										<div class="col-lg-9">
											<input type="text" class="form-control" id="" placeholder="请输入手机号">
										</div>
									</div>
									<div class="form-group">
										<label for="" class="col-lg-3 am-padding-left-0 control-label">短信验证码</label>
										<div class="col-lg-5 am-padding-right-0">
											<input type="text" class="form-control" id="" placeholder="请输入验证码">
										</div>
										<div class="col-lg-4">
											<button type="button" class="btn btn-info bg-lightblue">获取验证码</button>
										</div>
									</div>
									<div class="form-group">
										<label for="inputPassword3" class="col-lg-3 control-label">密码</label>
										<div class="col-lg-9">
											<input type="password" class="form-control" id="inputPassword3" placeholder="请输入密码">
										</div>
									</div>
									<div class="form-group">
										<label for="inputPassword3" class="col-lg-3 control-label">验证码</label>
										<div class="col-lg-4 am-padding-right-0">
											<input type="text" class="form-control" id="" placeholder="请输入验证码">
										</div>
										<div class="col-lg-5">
											<!--验证码-->
											<div class="clearfix">
												<div class="pull-left">
													<div class="codeBox-w">
														<img src="img/2.jpg" width="88" height="32" />
													</div>
												</div>
												<div class="pull-left">
													<button type="button" class="btn btn-info refreshBtn-w"><i class="glyphicon glyphicon-repeat"></i></button>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label for="" class="col-lg-3 control-label">邀请码</label>
										<div class="col-lg-9">
											<input type="text" class="form-control" id="" placeholder="请输入推荐人邀请码（选填）">
										</div>
									</div>
									<div class="form-group">
										<div class="col-lg-9 col-lg-offset-3">
											<div class="checkbox">
												<label>
													<input type="checkbox" name="" id="" value="" />
													我已阅读并同意<a href="#">无忧借款服务协议</a>
												</label>
											</div>
										</div>
									</div>
									<!--按钮-->
									<div class="form-group">
										<div class="col-lg-9 col-lg-offset-3">
											<button type="button" class="btn btn-info bg-lightblue btn-lg btn-block">注册</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!--end-->
			</div>
			<!--footer-->
			<footer class="am-padding-sm">
				<div class="container am-text-xs">
					<!--分类链接-->
					<div class="am-padding-sm text-center">
						<ul class="list-inline">
							<li>
								<a href="index.html" target="_blank" class="text-muted">首页</a>
							</li>
							<li>
								<a href="insurance.html" target="_blank" class="text-muted">社保大厅</a>
							</li>
							<li>
								<a href="loan.html" target="_blank" class="text-muted">无忧借款</a>
							</li>
							<li>
								<a href="#" target="_blank" class="text-muted">帮助中心</a>
							</li>
							<li>
								<a href="about.html" target="_blank" class="text-muted">关于我们</a>
							</li>
							<li>
								<a href="login.html" target="_blank" class="text-muted">登录</a>
							</li>
							<li>
								<a href="register.html" target="_blank" class="text-muted">注册</a>
							</li>
						</ul>
					</div>
					<!--copyright-->
					<div class="text-center">
						<div>
							Copyright © 2014 - 2015青岛XXXX有限公司 版权归XXXX所有
						</div>
						<div>
							地址：青岛市崂山区XXXXX
						</div>
						<div>
							<a href="#" class="text-muted">人力资源服务许可证 330108000023</a>
						</div>
						<div>
							<a href="#" class="text-muted">
						 		鲁ICP备15028495号-2 增值电信业务经营许可证：浙B2-20150177
						 	</a>
						</div>
					</div>
				</div>
			</footer>
		</div>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="js/jquery-1.12.3.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="js/bootstrap.min.js"></script>

	</body>

</html>