<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>主页</title>

		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	</head>

	<body>
		<div class="project">
			<!--header-->
			<nav class="navbar navbar-default header-w navbar-static-top am-margin-bottom-0">
				<div class="container">
					<ul class="nav navbar-nav">
						<li class="">
							<a href="index.html" class="text-muted">
								<span class="bg-white icon-w-box am-text-middle">
									<i class="icon-w icon-home" aria-hidden="true"></i>
								</span>
								<span class="am-text-middle am-padding-left-xs">HOME</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="bg-white icon-w-box am-text-middle">
									<i class="icon-w icon-cubic" aria-hidden="true"></i>
								</span>
								<span class="am-text-middle am-padding-left-xs">官方微博</span>
							</a>
						</li>
						<li class="">
							<a href="#">
								<span class="bg-white icon-w-box am-text-middle">
									<i class="icon-w icon-man" aria-hidden="true"></i>
								</span>
								<span class="am-text-middle am-padding-left-xs">关于我们</span>
							</a>
						</li>
					</ul>
					<div class="navbar-right">
						<div class="am-padding-vertical-sm text-muted">
							<i class="icon-w icon-clock"></i>
							<span class="am-text-middle am-padding-horizontal-sm">2016-04-28</span>
							<span class="am-text-middle">星期四</span>
						</div>
					</div>
				</div>
			</nav>
			<!--logo/搜索-->
			<div class="bg-lightblue am-padding-vertical-sm">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-lg-6">
							<div class="clearfix">
								<div class="pull-left">
									<a href="index.html">
										<img src="img/logo-white.png" width="210" height="66" />
									</a>
								</div>
								<div class="pull-left white">
									<div class="sub-title am-margin-left-sm am-padding-left-lg">
										<h2 class="">个人中心</h2>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-6">
							<div class="input-group am-padding-top-lg">
								<input type="text" class="form-control" placeholder="搜索您想要的内容">
								<span class="input-group-btn">
        						<button class="btn btn-default" type="button">
        							<i class="glyphicon glyphicon-search"></i>
        						</button>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--fullSlide end-->
			<div class="bg-lightgrey">
				<div class="container">
					<ol class="breadcrumb bg-lightgrey am-margin-bottom-0">
						<li><a href="#"><i class="glyphicon glyphicon-home"></i> 首页</a></li>
						<li><a href="#">我的账户</a></li>
						<li class="active">公积金基数变更</li>
					</ol>
					<div class="user-left-w pull-left am-text-lg am-margin-bottom-lg">
						<div class="am-padding-lg text-center">
							<img src="img/photo.png" width="110" height="110" alt="" class="img-circle" />
							<div class="am-margin-top-sm">
								<a href="#" class="white">
									<i class="icon-w icon-info-w am-margin-right-xs"></i>
									<span class="am-text-middle">补充信息</span>
								</a>
							</div>
						</div>
						<div class="cateMenu text-center" id="cateMenu">
							<ul class="am-margin-0 am-padding-0">
								<li class="active">
									<div class="cate-tag">
										<a href="user-info.html" class="white center-block">
											<i class="icon-w icon-man-w am-margin-right-xs"></i>
											<span class="am-text-middle">个人中心</span>
										</a>
									</div>
								</li>
								<li class="">
									<div class="cate-tag">
										<a href="user-insurance-index.html" class="white center-block">
											<i class="icon-w icon-people-w am-margin-right-xs"></i>
											<span class="am-text-middle">参保人&nbsp;&nbsp;&nbsp;&nbsp;</span>
										</a>
									</div>
									<div class="list-item-w">
										<dl class="am-margin-0">
											<dd>
												<a href="user-insurance-index.html" class="white center-block">
													全部
												</a>
											</dd>
											<dd>
												<a href="user-insurance-add1.html" class="white center-block">
													添加参保人
												</a>
											</dd>
											<dd>
												<a href="#" class="white center-block">
													账款转出
												</a>
											</dd>
											<dd>
												<a href="#" class="white center-block">
													公积金基数变更
												</a>
											</dd>
											<dd>
												<a href="#" class="white center-block">
													社保基数变更
												</a>
											</dd>
										</dl>
									</div>
								</li>
								<li class="">
									<div class="cate-tag">
										<a href="#" class="white center-block">
											<i class="icon-w icon-files-w am-margin-right-xs"></i>
											<span class="am-text-middle">我的账户</span>
										</a>
									</div>
									<div class="list-item-w">
										<dl class="am-margin-0">
											<dd>
												<a href="#" class="white center-block">
													充值
												</a>
											</dd>
											<dd>
												<a href="#" class="white center-block">
													提现
												</a>
											</dd>
											<dd>
												<a href="#" class="white center-block">
													冻结账户
												</a>
											</dd>
											<dd>
												<a href="#" class="white center-block">
													续保费
												</a>
											</dd>
											<dd>
												<a href="#" class="white center-block">
													续公积金费
												</a>
											</dd>
										</dl>
									</div>
								</li>
								<li class="">
									<div class="cate-tag">
										<a href="#" class="white center-block">
											<i class="icon-w icon-order-w am-margin-right-xs"></i>
											<span class="am-text-middle">我的订单</span>
										</a>
									</div>
								</li>
								<li class="">
									<div class="cate-tag">
										<a href="#" class="white center-block">
											<i class="icon-w icon-submit-w am-margin-right-xs"></i>
											<span class="am-text-middle">提现申请</span>
										</a>
									</div>
								</li>
								<li class="">
									<div class="cate-tag">
										<a href="#" class="white center-block">
											<i class="icon-w icon-list-w am-margin-right-xs"></i>
											<span class="am-text-middle">我的借款</span>
										</a>
									</div>
								</li>
								
							</ul>
						</div>
					</div>
					<div class="user-right-w pull-right am-margin-bottom-lg am-margin-left-lg">
						<div class="panel panel-default am-margin-bottom-0">
							<div class="panel-heading">
								<h3 class="panel-title clearfix">
									<div class="pull-left">
										<span class="am-text-middle">公积金基数变更</span>
									</div>
								</h3>
							</div>
							<div class="panel-body">
								<form action="" method="post" class="form-horizontal">
									<div class="form-group">
										<label for="inputEmail3" class="col-lg-2 control-label">姓名</label>
										<div class="col-lg-10">
											<p class="form-control-static">黄渤</p>
										</div>
									</div>
									<div class="form-group">
										<label for="inputEmail3" class="col-lg-2 control-label">身份证</label>
										<div class="col-lg-10">
											<p class="form-control-static">370784198803286619</p>
										</div>
									</div>
									<div class="form-group">
										<label for="inputEmail3" class="col-lg-2 control-label">原有基数</label>
										<div class="col-lg-10">
											<p class="form-control-static">2100</p>
										</div>
									</div>
									<div class="form-group">
										<label for="inputEmail3" class="col-lg-2 control-label">变更基数</label>
										<div class="col-lg-4">
											<input type="" name="" id="" value="" class="form-control" placeholder="请输入变更基数" />
										</div>
									</div>
									<div class="form-group">
										<label for="inputEmail3" class="col-lg-2 control-label">变更范围</label>
										<div class="col-lg-10">
											<p class="form-control-static orange">2000~10000</p>
										</div>
									</div>
									<div class="form-group">
										<div class="col-lg-offset-2 col-lg-4">
											<button type="button" class="btn btn-info bg-lightblue btn-block">取消</button>
										</div>
										<div class="col-lg-4">
											<button type="button" class="btn btn-info bg-lightblue btn-block">申请变更</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>

			</div>

			<!--footer-->
			<footer class="bg-black am-padding-lg">
				<div class="container am-text-xs">
					<!--友情链接-->
					<div class="row">
						<div class="col-lg-1 white">
							友情链接：
						</div>
						<div class="col-lg-11">
							<div class="row">
								<div class="col-lg-2">
									<a href="#" target="_blank" class="grey">友情链接友情链接友情链接友情链接友情链接</a>
								</div>
								<div class="col-lg-2">
									<a href="#" target="_blank" class="grey">友情链接</a>
								</div>
								<div class="col-lg-2">
									<a href="#" target="_blank" class="grey">友情链接友情链接友情链接友情链接友情链接</a>
								</div>
							</div>
						</div>
					</div>
					<!--分类链接-->
					<div class="am-padding-lg text-center">
						<ul class="list-inline">
							<li>
								<a href="#" target="_blank" class="white">社保大厅</a>
							</li>
							<li>
								<a href="#" target="_blank" class="white">无忧借款</a>
							</li>
							<li>
								<a href="#" target="_blank" class="white">帮助中心</a>
							</li>
							<li>
								<a href="#" target="_blank" class="white">关于我们</a>
							</li>
							<li>
								<a href="#" target="_blank" class="white">登录</a>
							</li>
							<li>
								<a href="#" target="_blank" class="white">注册</a>
							</li>
						</ul>
					</div>
					<!--认证-->
					<div class="text-center">
						<ul class="list-inline">
							<li>
								<a href="#" target="_blank" class="">
									<img src="img/footer1.gif" width="124" height="47" />
								</a>
							</li>
							<li>
								<a href="#" target="_blank" class="">
									<img src="img/footer2.gif" width="124" height="47" />
								</a>
							</li>
							<li>
								<a href="#" target="_blank" class="">
									<img src="img/footer3.gif" width="124" height="47" />
								</a>
							</li>
						</ul>
					</div>
					<!--copyright-->
					<div class="text-center grey">
						<div>
							Copyright © 2014 - 2015青岛XXXX有限公司 版权归XXXX所有
						</div>
						<div>
							地址：青岛市崂山区XXXXX
						</div>
						<div>
							<a href="#" class="text-muted">人力资源服务许可证 330108000023</a>
						</div>
						<div>
							<a href="#" class="text-muted">
						 		鲁ICP备15028495号-2 增值电信业务经营许可证：浙B2-20150177
						 	</a>
						</div>
					</div>
				</div>
			</footer>
		</div>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="js/jquery-1.12.3.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="js/bootstrap.min.js"></script>
		<script src="js/project.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>